.hero {
  height: 100%;
  background-color: gray;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/forest.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .callout {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-right: 100px;

    h1 {
      font-size: 230%;
    }

    h4 {
      font-size: 230%;
    }
  }
}
