* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 15px; }

.showPage {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: "lato-italic";
  src: url("../css/fonts/Lato/Lato-Italic.ttf"); }

@font-face {
  font-family: "lato-regular";
  src: url("../css/fonts/Lato/Lato-Regular.ttf"); }

@font-face {
  font-family: "caveat-bold";
  src: url("../css/fonts/Caveat/Caveat-Bold.ttf"); }

@font-face {
  font-family: "caveat-regular";
  src: url("../css/fonts/Caveat/Caveat-Regular.ttf"); }

.logo {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 168px;
  height: 55px;
  z-index: 99; }

.nav-holder {
  position: absolute;
  top: 38px;
  right: 50px;
  height: 52px;
  width: 600px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-holder a {
    text-decoration: none;
    font-family: caveat-regular;
    font-size: 25px;
    color: black; }
  .nav-holder #login {
    background-color: #ffd972;
    border-radius: 26px;
    padding: 16px 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); }
  .nav-holder a:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    display: none; }
  .nav-holder .active {
    display: block;
    border-bottom: 3px solid #000000; }

.bars {
  position: absolute;
  z-index: 100;
  top: 55px;
  right: 50px;
  cursor: pointer;
  display: none;
  height: 20px;
  width: 31px; }

@media all and (max-width: 900px) {
  .nav-holder {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8); }
    .nav-holder a {
      color: white; }
  .bars {
    display: block; } }

.footer {
  width: 100%;
  position: relative;
  bottom: 50px;
  height: 18px;
  display: flex;
  justify-content: space-around; }
  .footer .copyright {
    width: 262px;
    height: 18px;
    text-align: left;
    font-family: lato-italic;
    font-size: 15px; }
  .footer .bottom-nav {
    width: 550px;
    height: 18px;
    font-family: lato-italic;
    font-size: 15px;
    display: flex;
    justify-content: space-between; }
  .footer .social-media {
    width: 70px;
    display: flex;
    height: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between; }
    .footer .social-media .sm-icon {
      height: 18px;
      width: 18px; }

@media all and (max-width: 1000px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center; } }

.login {
  min-height: 100%;
  width: 100%;
  background-color: #ffd972;
  justify-content: space-around;
  align-items: center;
  display: flex; }
  .login .login-box {
    width: 209px;
    height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .login .login-box h1 {
      height: 36px;
      width: 189px;
      font-family: lato-regular;
      font-size: 30px; }
    .login .login-box input {
      width: 209px;
      height: 15px;
      font-family: lato-regular;
      font-size: 12px;
      color: black;
      border-bottom-style: solid;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      margin: 50px;
      background-color: #ffd972; }
    .login .login-box ::placeholder {
      color: black;
      font-family: lato-regular;
      font-size: 12px; }
    .login .login-box .login-button {
      height: 52px;
      width: 209px;
      background-color: #ffd972;
      border-radius: 26px;
      padding: 16px 50px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
      font-family: caveat-regular;
      font-size: 25px;
      text-align: center; }
  .login .sign-up {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .login .sign-up p {
      height: 15px;
      width: 137px;
      font-family: lato-italic;
      font-size: 12px; }
    .login .sign-up h1 {
      width: 135px;
      height: 36px;
      font-family: lato-regular;
      font-size: 30px; }
    .login .sign-up input {
      width: 250px;
      height: 15px;
      color: black;
      border-bottom-style: solid;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      margin: 50px;
      background-color: #ffd972; }
    .login .sign-up ::placeholder {
      color: black;
      font-family: lato-regular;
      font-size: 12px; }
    .login .sign-up .sign-up-button {
      height: 52px;
      width: 250px;
      background-color: #ffd972;
      border-radius: 26px;
      padding: 16px 50px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
      font-family: caveat-regular;
      font-size: 25px;
      text-align: center; }

@media all and (max-width: 768px) {
  .login {
    flex-direction: column; }
    .login .login-box {
      margin: 200px 0px 100px 0px; }
    .login .sign-up {
      margin: 100px 0px 200px 0px; } }

.recipes {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7e8bd; }
  .recipes .recipe-hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url("../images/recipe-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .recipes .recipe-hero h1 {
      font-family: caveat-bold;
      font-size: 25px;
      position: absolute;
      left: 107px;
      top: 195px; }
    .recipes .recipe-hero .recipe-list {
      width: 80%; }
      .recipes .recipe-hero .recipe-list .recipe {
        display: flex; }
        .recipes .recipe-hero .recipe-list .recipe .picture {
          width: 300px;
          height: 263px;
          background-image: url("../images/recipe-pizza.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 24px; }
        .recipes .recipe-hero .recipe-list .recipe .recipe-instructions {
          width: 224px;
          height: 263px;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          justify-content: space-evenly;
          align-items: center;
          border-radius: 24px; }
          .recipes .recipe-hero .recipe-list .recipe .recipe-instructions h3 {
            font-family: lato-regular;
            font-size: 15px; }
          .recipes .recipe-hero .recipe-list .recipe .recipe-instructions h3:after {
            content: "";
            display: block;
            width: 130px;
            border-bottom: 3px solid black; }
          .recipes .recipe-hero .recipe-list .recipe .recipe-instructions p {
            font-family: lato-regular;
            font-size: 9px;
            text-align: center;
            width: 138px;
            height: 55px; }
          .recipes .recipe-hero .recipe-list .recipe .recipe-instructions .time {
            width: 84px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center; }
            .recipes .recipe-hero .recipe-list .recipe .recipe-instructions .time .time-img {
              width: 23px;
              height: 24px;
              background-image: url("../images/time.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover; }
            .recipes .recipe-hero .recipe-list .recipe .recipe-instructions .time p {
              width: 43px;
              height: 12px;
              font-family: lato-regular;
              font-size: 10px; }
          .recipes .recipe-hero .recipe-list .recipe .recipe-instructions .servings {
            width: 84px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center; }
            .recipes .recipe-hero .recipe-list .recipe .recipe-instructions .servings .serving-img {
              width: 23px;
              height: 24px;
              background-image: url("../images/servings.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover; }
            .recipes .recipe-hero .recipe-list .recipe .recipe-instructions .servings p {
              width: 46px;
              height: 12px;
              font-family: lato-regular;
              font-size: 10px; }
      .recipes .recipe-hero .recipe-list .browse-btn {
        width: 128px;
        height: 42px;
        border-radius: 26px;
        background-color: #ffd972;
        font-family: caveat-regular;
        font-size: 20px; }

.create-edit {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 300px;
  margin-top: 100px; }
  .create-edit .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-left: 10%; }
    .create-edit .form .greeting {
      font-family: caveat-bold;
      font-size: 25px;
      margin-top: 50px;
      margin-bottom: 50px; }
    .create-edit .form .add-image {
      position: absolute;
      top: 230px;
      right: 20%;
      width: 110px;
      height: 36px;
      background: #efa7a7;
      box-shadow: 0px 10px 6px #00000029;
      opacity: 1;
      border-radius: 25px; }
    .create-edit .form h3 {
      font-family: lato-black;
      font-size: 20px;
      margin-left: 25px;
      margin-top: 50px; }
    .create-edit .form input {
      border-bottom-style: solid;
      border-top-style: hidden;
      border-left-style: hidden;
      border-right-style: hidden;
      margin: 25px;
      width: 80%; }
    .create-edit .form ::placeholder {
      color: black;
      font-family: lato-regular;
      font-size: 12px; }
  .create-edit .create-edit-btn {
    width: 422px;
    height: 52px;
    border-radius: 26px;
    background-color: #efa7a7;
    margin-bottom: 200px; }

.home {
  height: 100%;
  width: 100%;
  background-color: #f25c54;
  display: flex;
  justify-content: center;
  align-items: center; }
  .home .hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    .home .hero .circles {
      width: 450px;
      height: 450px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .home .hero .circles .yellow-circle {
        height: 340px;
        width: 340px;
        background-color: #ffd972;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        text-align: center; }
        .home .hero .circles .yellow-circle h1 {
          font-family: caveat-bold;
          font-size: 24px;
          width: 164px;
          height: 80px; }
        .home .hero .circles .yellow-circle p {
          font-family: lato-regular;
          font-size: 13px;
          width: 164px;
          height: 80px; }
      .home .hero .circles .pink-circle {
        height: 168px;
        width: 168px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fcbcb8;
        position: absolute;
        right: 0;
        top: 0; }
        .home .hero .circles .pink-circle p {
          font-family: lato-italic;
          font-size: 10px;
          width: 106px;
          height: 38px; }

.view-recipe {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left; }
  .view-recipe .image-text {
    width: 80%;
    display: flex;
    margin-top: 250px;
    justify-content: center;
    align-items: left;
    font-family: caveat-regular;
    font-size: 20px; }
    .view-recipe .image-text h3 {
      font-family: lato-regular;
      font-size: 25px; }
    .view-recipe .image-text h4 {
      font-family: lato-regular;
      font-size: 20px; }
    .view-recipe .image-text .vertical-text {
      min-width: 300px;
      height: 30px;
      transform: matrix(0, -1, 1, 0, 0, 0);
      font-family: lato-regular;
      font-size: 25px;
      margin-right: -100px;
      margin-left: 50px;
      margin-top: 50px; }
    .view-recipe .image-text .dish-image {
      width: 468px;
      height: 421px;
      background-image: url("../images/recipe-pizza.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .view-recipe .image-text .recipe-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 421px;
      margin-left: 5%; }
      .view-recipe .image-text .recipe-desc .description {
        width: 455px;
        height: 106px; }
  .view-recipe .text-cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 20%;
    margin-bottom: 100px;
    font-family: caveat-regular;
    font-size: 20px; }
    .view-recipe .text-cont h3 {
      font-family: lato-regular;
      font-size: 25px; }
    .view-recipe .text-cont .ingredients {
      width: 80%;
      height: 215px;
      margin-top: 100px; }
    .view-recipe .text-cont .instructions {
      width: 80%;
      height: 175px;
      margin-top: 100px;
      margin-bottom: 50px; }
    .view-recipe .text-cont .edit-btn {
      height: 42px;
      width: 128px;
      border-radius: 26px;
      background-color: #ffd972;
      font-family: caveat-regular;
      font-size: 20px;
      margin-top: 50px; }
