.spaceships {
  //height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 50, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 200%;
    margin-top: 50px;
  }
  .articles {
    display: flex;
    justify-content: center;
    //align-items: center;

    .articleOne {
      @include articleColumn();
    }
    .articleTwo {
      @include articleColumn();
    }
    .articleThree {
      @include articleColumn();
    }
    a {
      text-decoration: none;
      // background-color: white;
      color: white;
      background-color: gray;
      border-radius: 70px;
      height: 25px;
      width: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .line {
    border-bottom: solid 2px white;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1250px) {
  .articles {
    display: flex;
    flex-direction: column;
  }
}
