.home {
  height: 100%;
  width: 100%;
  background-color: $site-darkpink;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero {
    // width: 1280px;
    // height: 800px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgba($site-darkpink, 0.6),
        rgba($site-darkpink, 0.6)
      ),
      url("../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .circles {
      width: 450px;
      height: 450px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .yellow-circle {
        height: 340px;
        width: 340px;
        background-color: $site-yellow;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 1;
        text-align: center;
        h1 {
          font-family: caveat-bold;
          font-size: 24px;
          width: 164px;
          height: 80px;
        }
        p {
          font-family: lato-regular;
          font-size: 13px;
          width: 164px;
          height: 80px;
        }
      }

      .pink-circle {
        height: 168px;
        width: 168px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $site-lightpink;
        position: absolute;
        right: 0;
        top: 0;
        p {
          font-family: lato-italic;
          font-size: 10px;
          width: 106px;
          height: 38px;
        }
      }
    }
  }
}
