@font-face {
  font-family: "lato-italic";
  src: url("../css/fonts/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "lato-regular";
  src: url("../css/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "caveat-bold";
  src: url("../css/fonts/Caveat/Caveat-Bold.ttf");
}

@font-face {
  font-family: "caveat-regular";
  src: url("../css/fonts/Caveat/Caveat-Regular.ttf");
}

$site-green: #a7e8bd;
$site-lightpink: #fcbcb8;
$site-midpink: #efa7a7;
$site-yellow: #ffd972;
$site-darkpink: #f25c54;
