.recipes {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $site-green;

  .recipe-hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgba($site-green, 0.6),
        rgba($site-green, 0.6)
      ),
      url("../images/recipe-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-family: caveat-bold;
      font-size: 25px;
      position: absolute;
      left: 107px;
      top: 195px;
    }

    .recipe-list {
      width: 80%;
      .recipe {
        display: flex;
        .picture {
          width: 300px;
          height: 263px;
          //background-color: red;
          background-image: url("../images/recipe-pizza.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 24px;
        }
        .recipe-instructions {
          width: 224px;
          height: 263px;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          justify-content: space-evenly;
          align-items: center;
          border-radius: 24px;
          h3 {
            font-family: lato-regular;
            font-size: 15px;
          }
          h3:after {
            content: "";
            display: block;
            width: 130px;
            border-bottom: 3px solid black;
          }
          p {
            font-family: lato-regular;
            font-size: 9px;
            text-align: center;
            width: 138px;
            height: 55px;
          }
          .time {
            width: 84px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .time-img {
              width: 23px;
              height: 24px;
              background-image: url("../images/time.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            p {
              width: 43px;
              height: 12px;
              font-family: lato-regular;
              font-size: 10px;
            }
          }
          .servings {
            width: 84px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .serving-img {
              width: 23px;
              height: 24px;
              background-image: url("../images/servings.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            p {
              width: 46px;
              height: 12px;
              font-family: lato-regular;
              font-size: 10px;
            }
          }
        }
      }
      .browse-btn {
        width: 128px;
        height: 42px;
        border-radius: 26px;
        background-color: $site-yellow;
        font-family: caveat-regular;
        font-size: 20px;
      }
    }
  }
}
