* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

nav {
  height: 50px;
  background-color: #b8a281;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  nav a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px; }
    nav a .icon {
      font-size: 25px;
      color: white; }

.content {
  height: 100%; }
  .content .hero {
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url("../img/hero.jpg");
    background-color: #b8a281;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .content .hero .callout {
      text-align: left;
      margin-left: 1350px;
      padding-top: 450px; }
  .content .welcome {
    padding-top: 50px;
    background-color: #b8a281;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px; }
    .content .welcome .intro {
      width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 200px; }
      .content .welcome .intro p {
        width: 90%;
        text-align: center; }
    .content .welcome .adLink {
      height: 500px;
      width: 500px;
      background-image: url("../img/homepageAd.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
  .content .attractions {
    background-color: rgba(184, 162, 129, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .content .attractions h2 {
      padding: 20px; }
    .content .attractions .events {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .content .attractions .events .event {
        height: 500px;
        width: 200px; }
    .content .attractions .shows {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .content .attractions .shows .show {
        height: 500px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .content .attractions .shows .show .dolphin {
          height: 200px;
          width: 200px;
          background-image: url("../img/dolphinShow.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .attractions .shows .show .cheetah {
          height: 200px;
          width: 200px;
          background-image: url("../img/cheetahShow.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .attractions .shows .show .walrus {
          height: 200px;
          width: 200px;
          background-image: url("../img/walrusShow.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .attractions .shows .show .rhino {
          height: 200px;
          width: 200px;
          background-image: url("../img/rhinoShow.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
  .content .footer {
    background-color: #b8a281;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; }

.content {
  height: 100%; }
  .content .exhibits {
    display: flex;
    justify-content: center;
    background-color: #b8a281;
    flex-direction: column;
    align-items: center; }
    .content .exhibits h2 {
      text-transform: capitalize; }
    .content .exhibits .animals {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      justify-content: space-around; }
      .content .exhibits .animals .animal {
        padding: 20px; }
        .content .exhibits .animals .animal h5 {
          text-transform: capitalize;
          font-size: 20px; }
        .content .exhibits .animals .animal .walrus {
          height: 200px;
          width: 200px;
          background-image: url("../img/walrus.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .dolphin {
          height: 200px;
          width: 200px;
          background-image: url("../img/dolphin.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .bear {
          height: 200px;
          width: 200px;
          background-image: url("../img/bear.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .tiger {
          height: 200px;
          width: 200px;
          background-image: url("../img/tiger.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .lion {
          height: 200px;
          width: 200px;
          background-image: url("../img/lion.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .emu {
          height: 200px;
          width: 200px;
          background-image: url("../img/emu.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .shark {
          height: 200px;
          width: 200px;
          background-image: url("../img/shark.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .elephant {
          height: 200px;
          width: 200px;
          background-image: url("../img/elephant.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .rhino {
          height: 200px;
          width: 200px;
          background-image: url("../img/rhino.jpeg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .cheetah {
          height: 200px;
          width: 200px;
          background-image: url("../img/cheetah.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .ape {
          height: 200px;
          width: 200px;
          background-image: url("../img/ape.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal .lemur {
          height: 200px;
          width: 200px;
          background-image: url("../img/lemur.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
        .content .exhibits .animals .animal p {
          height: 150px;
          width: 150px;
          overflow: hidden; }
  .content .tickets {
    background-color: rgba(184, 162, 129, 0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .content .tickets .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .content .tickets .info p {
        width: 200px;
        height: 300px; }
    .content .tickets .ticket {
      height: 200px;
      width: 200px;
      background-image: url("../img/tickets.jpeg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  .content .memberships {
    background-color: #b8a281;
    display: flex;
    justify-content: space-evenly; }
    .content .memberships .pass {
      height: 200px;
      width: 200px;
      background-image: url("../img/membership.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .content .memberships .memberInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .content .memberships .memberInfo p {
        width: 250px;
        height: 200px; }
  .content .volunteer {
    background-color: rgba(184, 162, 129, 0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .content .volunteer .v1 {
      height: 200px;
      width: 200px;
      background-image: url("../img/volunteer1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .content .volunteer .v2 {
      height: 200px;
      width: 200px;
      background-image: url("../img/volunteer2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .content .volunteer .signUp {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .content .volunteer .signUp p {
        width: 300px; }

.content {
  height: 100%; }
  .content .contact {
    background-color: rgba(184, 162, 129, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .content .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .content .form input {
      width: 500px;
      margin-bottom: 15px;
      padding-bottom: 15px; }
    .content .form textarea {
      width: 500px;
      height: 250px; }
  .content .map {
    padding: 50px; }
  .content .charities {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%; }
    .content .charities .charity1 {
      height: 200px;
      width: 200px;
      background-image: url("../img/charity1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .content .charities .charity2 {
      height: 200px;
      width: 200px;
      background-image: url("../img/charity2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .content .charities .charity3 {
      height: 200px;
      width: 200px;
      background-image: url("../img/charity3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .content .charities .charity4 {
      height: 200px;
      width: 200px;
      background-image: url("../img/charity4.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
