.content {
  height: 100%;

  .hero {
    height: 60%;

    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url("../img/hero.jpg");
    background-color: #b8a281;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    .callout {
      text-align: left;
      margin-left: 1350px;
      padding-top: 450px;
    }
  }
}
